<form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="profile">
      <span>Profile Header:</span>
    </div>
<br>
<br>
    <label for="name" class="required">Name</label>
    <input id="name" formControlName="name" />
    <div *ngIf="ProfileForm.get('name')?.invalid && ProfileForm.get('name')?.touched">
      Name is required.
    </div>

    <label for="importantNote" class="required">Important Notes</label>
    <input id="importantNote" formControlName="importantNote" />
    <div *ngIf="ProfileForm.get('importantNote')?.invalid && ProfileForm.get('importantNote')?.touched">
      Important note is required.
    </div>

    <label for="comment1" class="required">Comment 1</label>
    <input id="comment1" formControlName="comment1" />
    <div *ngIf="ProfileForm.get('comment1')?.invalid && ProfileForm.get('comment1')?.touched">
      Comment 1 is required.
    </div>

    <label for="comment2" class="required">Comment 2</label>
    <input id="comment2" formControlName="comment2" />
    <div *ngIf="ProfileForm.get('comment2')?.invalid && ProfileForm.get('comment2')?.touched">
      Comment 2 is required.
    </div>
<hr>
    <div class="profile">
      <span>Profile Questions:</span>
    </div>
<br>
<br>
    <label for="question" class="required">Question</label>
    <input id="question" formControlName="question" />
    <div *ngIf="ProfileForm.get('question')?.invalid && ProfileForm.get('question')?.touched">
      Question is required.
    </div>

    <label for="example" class="required">Example</label>
    <input id="example" formControlName="example" />
    <div *ngIf="ProfileForm.get('example')?.invalid && ProfileForm.get('example')?.touched">
      Example is required.
    </div>

    <label for="answer" class="required">Answer</label>
    <input id="answer" formControlName="answer" />
    <div *ngIf="ProfileForm.get('answer')?.invalid && ProfileForm.get('answer')?.touched">
      Answer is required.
    </div>

    <label for="instruction" class="required">Instruction</label>
    <input id="instruction" formControlName="instruction" />
    <div *ngIf="ProfileForm.get('instruction')?.invalid && ProfileForm.get('instruction')?.touched">
      Instruction is required.
    </div>

    <label for="friendlyQuestion" class="required">Friendly Question</label>
    <input id="friendlyQuestion" formControlName="friendlyQuestion" />
    <div *ngIf="ProfileForm.get('friendlyQuestion')?.invalid && ProfileForm.get('friendlyQuestion')?.touched">
      Friendly question is required.
    </div>
<hr>
  <div class="profile">
    <span>Profile Output:</span>
  </div>
<br>
<br>
    <label for="outputName" class="required">Output Name</label>
    <input id="outputName" formControlName="outputName" />
    <div *ngIf="ProfileForm.get('outputName')?.invalid && ProfileForm.get('outputName')?.touched">
      Output name is required.
    </div>

  </div>

  <button class="submit-btn" type="submit">Submit</button>
</form>

